{% extends 'base.html' %}
{% load static %}
{% block title %} دوره ها {% endblock %}
{%block content%}
<!-- arrivals section ends -->
<div id="TAZETARIN" class="product-section container-fluid no-padding">
    <!-- Container -->
    <div id="product-section">
        <div class="section-header">
            <h3>تازه ترین ها</h3>
            <p>دسترسی سریع به محصولات محبوب</p>
        </div>

        <!-- Filter Buttons -->
        <div class="filters">
            <button class="active" data-filter="*">همه</button>
            <button data-filter=".design">برترین دوره ها</button>
            <button data-filter=".video">برای کودکان</button>
            <button data-filter=".photography">کاربردی ترین دوره ها</button>
            <button data-filter=".photography">تخفیف دارها</button>
        </div>

        <!-- Products Grid -->
        <div class="products-grid">
            <!-- Product 1 -->
            {% for course in courses %}

            <div class="product design">
                <img src="{{ course.main_pic }}" alt="{{ course.title }}">
                <h5>{{ course.title }}</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>
                <div class="icons">

                    <a href="{% url 'courses:course_detail' course.slug %}"><i class="fa fa-heart-o"></i></a>

                </div>
                <a href="{% url 'courses:course_detail' course.slug %}" class="add-to-cart">توضیحات بیشتر</a>
            </div>
            {% endfor %}
        </div>
    </div><!-- Row /- -->
</div><!-- Container /- -->
</div>
{% endblock content %}