{% load static %}


<!DOCTYPE html>
<html dir="rtl" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>شرکت تاویار توسعه رایمند</title>
    <link rel="shortcut icon" href="{% static 'img/tavyarr.png' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}" />
</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <!-- Logo -->
        <div class="logo-wrapper valign">
            <div class="logo">
                <a href="index.html">
                    <img src="{% static 'img/tavyarr.png' %}" class="logo-img" alt="">
                    <h6>تاویار توسعه رایمند<span>شرکت و آموزشگاه کامپیوتر و حسابداری</span>    <span>شرکت با مسئولیت محدود</span></h6>
                 


                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"><i class="ti-line-double"></i></span> </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="#" data-scroll-nav="0">صفحه اصلی</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="1">درباره ما</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="2">پروژه ها</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="3">سرویس ها</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="4">همکاران تاویار</a></li>

                <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="5">تماس با ما</a></li>
            </ul>
        </div>
    </nav>
    <!-- Slider -->
    <header id="home" class="header slider-fade" data-scroll-index="0">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-right item bg-img" data-overlay-dark="3" data-background="{% static 'img/slider/1.jpg' %}">
                <div class="v-middle caption mt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 offset-md-5">
                                <div class="o-hidden">
                                    <h1>طراحی خلاقانه</h1>
                                    <p>طراحی خلاقانه را با تیم ما تجربه کنید
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right item bg-img" data-overlay-dark="4" data-background="{% static 'img/slider/2.jpg' %}">
                <div class="v-middle caption mt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 offset-md-5">
                                <div class="o-hidden">
                                    <h1>نو آوری در برنامه نویسی</h1>
                                    <p>بهترین طراحی ها و نوآوری های برنامه نویسی در تیم بزرگ ما
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right item bg-img" data-overlay-dark="4" data-background="{% static 'img/slider/3.jpg' %}">
                <div class="v-middle caption mt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 offset-md-5">
                                <div class="o-hidden">
                                    <h1>فناوری و توسعه</h1>
                                    <p>     توسعه و فناوری سایت های خورد را به ما بسپارید
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Corner -->
        <div class="hero-corner"></div>
        <div class="hero-corner3"></div>
        <!-- Left Panel -->
        <div class="left-panel">
            <ul class="social-left clearfix">
                <li><a href="https://www.instagram.com/tavyarco/profilecard/?igsh=MzdpY2tmbjZrNm03"><i class="ti-instagram"></i></a></li>
            </ul>
        </div>
    </header>
    <!-- Content -->
    <div class="content-wrapper">
        <!-- Lines -->
        <section class="content-lines-wrapper">
            <div class="content-lines-inner">
                <div class="content-lines"></div>
            </div>
        </section>
        <!-- About -->
        <section id="about" class="about section-padding" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <h2 class="section-title">درباره <span>تاویار</span></h2>
                        <p>متخصصان برنامه نویس و طراح ما با تمرکز و توجه به جزئیات و زمینه‌های پیشرفت فناوری اطلاعات و با تسلط به دانش روز دنیا در زمینه‌های متنوع IT، به شرکت‌هایی با روند کاری متفاوت خدمت‌رسانی می‌کنند. قدمت و نوع کسب و کار شما هرچه باشد، شرکت مهندسی نرم افزار تاویار، آماده ارائه خدمت و مشاوره است.</p>
                        <p> تاویار با استفاده از تیم حرفه ای در تولید و طراحی وب سایت ، وب اپلیکیشن ، اپلیکیشن ، بهینه سازی و طراحی سامانه های دولتی یکی از شرکت های فعال و برتر در زمینه طراحی اختصاصی (بر اساس نیاز مشتری) وب سایت ، وب اپلیکیشن و اپلیکیشن موبایل به شمار می آید .</p>

                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="about-img">
                            <div class="img"> <img src="{% static 'img/programmer-workspace.jpg' %}" class="img-fluid" alt=""> </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects -->
        <section id="projects" class="projects section-padding" data-scroll-index="2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title"><span>پروژه های</span> ما</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="{% static 'img/projects/1.jpg' %}" alt=""> </div>
                                <div class="con">
                                    <h6><a href="project.html">سایت</a></h6>
                                    <h5><a href="project.html">ووردپرس</a></h5>
                                    <div class="line"></div> <a href="project.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="{% static 'img/projects/Screenshot 2024-10-17 102329.png' %}" alt=""> </div>
                                <div class="con">
                                    <h6><a href="project.html">سایت</a></h6>
                                    <h5><a href="project.html">لاراول</a></h5>
                                    <div class="line"></div> <a href="project0.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- Services -->
        <section id="services" class="services section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">دیگر <span>خدمات</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="serviceswordpress.html"> <img src="{% static 'img/icons/icon-1.png' %}" alt="">
                                <h5> طراحی سایت وردپرس </h5>
                                <div class="line"></div>
                                <p>طراحی سایت اختصاصی با بالاترین کیفیت و پلتفرم اختصاصی </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="servicesframework.html"> <img src="{% static 'img/icons/icon-1.png' %}" alt="">
                                <h5> طراحی سایت با فریم ورک های مطرح</h5>
                                <div class="line"></div>
                                <p>طراحی سایت اختصاصی با کسب و کار شما </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="serviceapp.html"> <img src="{% static 'img/icons/icon-2.png' %}" alt="">
                                <h5>طراحی اپیکیشن موبایل</h5>
                                <div class="line"></div>
                                <p>طراحی و پیاده سازی اپلیکیشن با امکانات منحصر به فرد و ظاهری اختصاصی </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="servicesseo.html"> <img src="{% static 'img/icons/icon-3.png' %}" alt="">
                                <h5>بهینه سازی سئو</h5>
                                <div class="line"></div>
                                <p>ما تا قرار گرفتن وب سایت شما در صفحات ابتدایی گوگل در کنارتان هستیم </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="servicehosh.html"> <img src="{% static 'img/icons/icon-3.png' %}" alt="">
                            <h5>هوش مصنوعی</h5>
                                <div class="line"></div>
                                <p>ما با بهره گیری از کارشناس هایی در زمینه هوش مصنوعی قادر به احرای پروژه تشخیص چهره داده کاوی ، big دیتا و ... میباشد. </p>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog -->
        <aside class="sidebar blog-sidebar">
            <div class="sidebar-widget services" data-scroll-index="4">
                <div class="widget-inner">

            </div>
        </aside>
        <div  class="container" style=" width: 1000px;
            position: relative;
            display: flex;
            justify-content: space-between;" data-overlay="4">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="section-title">همکاران <span>تاویار</span></h2>
              </div>
          </div>
        </div>
        <div class="container" style="    width: 738px;
            position: relative;
            display: flex;
            justify-content: space-between;">

   <div class="card">

       <div class="face face1">
         <img src="{% static 'img/Untitled4.jpg' %}" alt="" style=" width:100%;   height:100%;">
           <div class="content">
               <div class="icon">
                   <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </div>
           </div>
       </div>
       <div class="face face2">
           <div class="content">
               <h3>
                صبا پردل
              </h3>
               <p>طراح و برنامه نویس وب</p>
               <p>علوم کامپیوتر</p>
               <p>php , laravel ,html,css,js</p>
               <p>فنی حرفه ای و دانشگاه بجنورد</p>

           </div>

       </div>
      <div class="" style=" width:100%;   height:100%;   margin-top: -56px; margin-right: 39%; font-weight:bold; color: white; ">
      صباپردل
<br>
<br>
<br>
      </div>
   </div>
   <div class="card">
       <div class="face face1">
            <img src="{% static 'img/zb.png' %}" alt="" style=" width:100%;   height:100%;">
           <div class="content">
               <div class="icon">
                   <i class="fa fa-twitter-square" aria-hidden="true"></i>
               </div>
           </div>
       </div>
       <div class="face face2">
         <div class="content">
             <h3>
          زهره براتی
            </h3>
             <p>مدیرعامل</p>
             <p>طراح و برنامه نویس وب</p>
             <p>مهندسی نرم افزار و مدیریت بازرگانی</p>
             <p>فنی حرفه ای و دانشگاه بجنورد</p>

         </div>
       </div>
       <div class="" style=" width:100%;   height:100%;   margin-top: -56px; margin-right: 39%; font-weight:bold; color: white; ">
      زهره براتی
      <br>
      <br>
      <br>

       </div>
   </div>

</div>
        <!-- Contact -->
        <section id="contact" class="section-padding" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                        <h2 class="section-title">تماس با  <span>ما</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <p>شرکت برنامه نویسی تاویار، توسعه دهنده انواع پلتفرم، سیستم های تحت وب، اتوماسیون‌ها و انواع اپلیکیشن همراه شماست. هدف ما تسهیل فضای کسب وکار دیجیتال و ارائه انواع خدمات فناوری اطلاعات مطابق با استانداردهای روز جهان است.</p>
                        <p><b>کد نشان ثبت :</b> ----</p>
                        <div class=" ">
                          <img src="{% static 'img/enamad_icon_text_color_blue_1024-768x768.png' %}" alt="" style="width:100px; height:112px; float:right; margin-right:29px; margin-top: 1%;">
                          <img src="{% static 'img/Preview.png' %}" alt="" style="width:100px; height:100px; float:right; margin-right:2px; margin-top: 4%;">
                          <img src="{% static 'img/tavyarr.PNG' %}" alt="" style="width:100px; height:90px; float:right; margin-right:2px;">

                        </div>
                    </div>
                    <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <p><b>تلفن :</b> 09157160815</p>
                        <p><b>تلگرام :</b>tavyarco</p>
                        <p><b>آدرس :</b> ایران-بجنورد-خیابان آزادی-نبش چهاراه مهندسان-پلاک 43-طبقه1</p>
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInUp">
                      <h6>ارتباط سریع:</h6>
                      <form method="post" class="row">
                          <div class="col-md-12">
                              <input type="text" name="name" id="name" placeholder="نام کامل *" required=""> </div>
                          <div class="col-md-12">
                              <input type="email" name="email" id="email" placeholder="آدرس ایمیل *" required=""> </div>
                          <div class="col-md-12">
                              <textarea name="message" id="message" cols="40" rows="4" placeholder="کامنت شما *" required=""></textarea>
                          </div>
                          <div class="col-md-12 mt-15">
                              <button class="butn-dark"><a href="#0"><span>ارسال</span></a></button>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Promo video - Testiominals -->

        <!-- Clients -->

        <!-- Footer -->

        <footer class="main-footer dark">

            <div class="sub-footer">

            </div>

        </footer>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/pace.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
