<!DOCTYPE html>
<html dir="rtl" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>شرکت تاویار توسعه زایمند</title>
    <link rel="shortcut icon" href="img/tavyarr.png" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <!-- Logo -->
        <div class="logo-wrapper valign">
            <div class="logo">
                <a href="index.html">
                    <img src="img/tavyarr.png" class="logo-img" alt="">
                    <h6>تاویار توسعه رایمند<span>شرکت و آموزشگاه کامپیوتر و حسابداری</span>    <span>شرکت با مسئولیت محدود</span></h6>



                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"><i class="ti-line-double"></i></span> </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="index.html">صفحه اصلی</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html" >درباره ما</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html" >پروژه ها</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html" >سرویس ها</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html" >همکاران تاویار</a></li>

                <li class="nav-item"><a class="nav-link" href="index.html" >تماس با ما</a></li>
            </ul>
        </div>
    </nav>
    <!-- Content -->
    <div class="content-wrapper">
        <!-- Lines -->
        <section class="content-lines-wrapper">
            <div class="content-lines-inner">
                <div class="content-lines"></div>
            </div>
        </section>
        <!-- Header Banner -->
        <section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="5" data-background="img/tavyarr.png">
            <!-- Left Panel -->
            <div class="left-panel"></div>
        </section>
        <!-- Services Page -->
        <section class="section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title2">توضیحات </h2>
                    <h5 class="">Artificial intelligence </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
  <p>هوش مصنوعی یا به عبارتی Artificial intelligence که امروزه با اصطلاح هوش مصنوعی AI نیز شناخته می‌شود، روشی نوین برای ساخت ابزارهایی هوشمند با الگوبرداری از هوش انسان می‌باشد. ابزاری که شبیه انسان فکر کند و به جای او تصمیم بگیرد. در حقیقت این فناوری همان ماشین برنامه‌نویسی شده به دست انسان است که با هدف سهولت در انجام امور روزمره طراحی شده است.</p>
                    <div class="row mb-30">

                        <div class="col-md-6 gallery-item">
                            <a href="img/services/what-is-ai.webp" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="img/services/what-is-ai.webp" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>

                        <p>بسیاری از افراد، هوش مصنوعی را همچون رباتی در نظر می‌گیرند که به‌صورت فیزیکی قابل مشاهده می‌باشد. در حالی که در بیشتر موارد، این مفهوم در قالب پاسخی به رفتارهای انسان و برگرفته از علایق و گرایشات او ارائه می‌شود. هوش مصنوعی (هوش مصنوعی AI) شاخه‌ای گسترده از علوم کامپیوتر است و یکی از علوم میان رشته‌ای محسوب می‌شود. منظور از این مفهوم، ماشینی است که همانند انسان فکر کند و توانایی تقلید رفتار انسان را داشته باشد. چنین ماشینی می‌تواند وظایفی را انجام دهند که به هوش انسانی نیاز دارد.</p>
                        <div class="col-md-12 gallery-item">
                            <a href="img/services/ww.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="img/services/ww.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>

            </div>
                </div>
                <div class="col-md-4 sidebar-side">

                </div>
            </div>

        </div>
    </section>
        <!-- Footer -->
        <footer class="main-footer dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>تلفن</h6>
                            </div>
                            <p>09157160815</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>تلگرام</h6>
                            </div>
                            <p>tavyarco@</p>

                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>آدرس</h6>
                            </div>
                            <p>ایران-بجنورد-خیابان آزادی-نبش چهاراه مهندسان-پلاک 43-طبقه1</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-left">

                            </div>
                        </div>
                        <div class="col-md-4 abot">
                            <div class="social-icon">  <a href="https://www.instagram.com/tavyarco/profilecard/?igsh=MzdpY2tmbjZrNm03"><i class="ti-instagram"></i></a>  </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
