{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home" id="home">
    <div class="row">
        <div class="content">
            <h3>آموزش به صورت آنلاین و حضوری</h3>
            <h3><p>آموزشگاه تاویار در زمینه کامپیوتر و حسابداری خدمت رسان شماست</p></h3>
            <p>ارایه دهنده مدرک فنی حرفه ای</p>
        </div>

        <!-- <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="image/softs.png" alt=""></a>

            </div> -->
        <img src="{% static 'image/tav.ico' %}" class="stand" alt="">
    </div>

    </div>

</section>

<br>
<br>
<!-- home section ense  -->


<!-- اسلایدشو شروع  -->

<div id="home-revslider" class="slider-section container-fluid no-padding" style="height: 400px; overflow: hidden;">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <div class="rev_slider_wrapper" style="height: 100%;">
        <div id="home-slider1" class="rev_slider" data-version="5.0" style="height: 100%;">
            <ul>
                <li data-transition="zoomout" data-slotamount="default" data-easein="easeInOut" data-easeout="easeInOut"
                    data-masterspeed="2000">
                    <img src="{% static 'images/What-is-a-guest-post.jpg.webp' %}" alt="slider"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         style="z-index:5; color:#fff; font-weight:700; font-family:'Montserrat', sans-serif; text-transform: uppercase; text-align:center;"
                         data-x="center" data-hoffset="0"
                         data-y="middle" data-voffset="-80"
                         data-fontsize="['28','24','20','16']"
                         data-lineheight="['32','28','24','20']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-30px;opacity:0;s:1000;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
                         data-start="1000">

                    </div>
                </li>

                <li data-transition="zoomout" data-slotamount="default" data-easein="easeInOut" data-easeout="easeInOut"
                    data-masterspeed="2000">
                    <img src="{% static 'images/روش-های-تبلیغات-موثر.jpg' %}" alt="slider"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>
                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                         style="z-index:5; color:#fff; font-weight:700; font-family:'Montserrat', sans-serif; text-transform: uppercase; text-align:center;"
                         data-x="center" data-hoffset="0"
                         data-y="middle" data-voffset="-80"
                         data-fontsize="['28','24','20','16']"
                         data-lineheight="['32','28','24','20']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-30px;opacity:0;s:1000;e:Power4.easeOut;"
                         data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
                         data-start="1000">

                    </div>
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         style="z-index:5; color:#fff; font-size:16px; font-weight:400; font-family:'Montserrat', sans-serif; text-align:center;"
                         data-x="center" data-hoffset="0"
                         data-y="middle" data-voffset="10"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[105%];opacity:0;s:1000;e:Power4.easeOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                         data-start="1200">

                    </div>
                </li>
            </ul>
        </div><!-- END REVOLUTION SLIDER -->
    </div><!-- END OF SLIDER WRAPPER -->
</div>
<!-- پایان اسلایدشو  -->


<br>
<br>
<br>

<!-- پروژه  -->

<section class="featured" id="arrivals">

    <h1 class="heading"><span>پروژه‌ها</span></h1>

    <div class="swiper featured-slider">

        {% for project in projects %}
        <div class="swiper-slide box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="{% url 'project:detail' project.pk %}" class="fas fa-eye"></a>
            </div>

            <div class="image">
                {% if project.image %}
                    <img src="{{ project.image }}" alt="{{ project.title }}">
                {% else %}
                    <img src="{% static 'image/icdl-lerning.svg' %}" alt="project">
                {% endif %}
            </div>

            <div class="content">
                <h3>پروژه: {{ project.title }}</h3>
                <div class="price">
                    {{ project.description|truncatewords:12 }}
                </div>
            </div>
        </div>
        {% empty %}
            <p style="text-align:center">پروژه‌ای برای نمایش وجود ندارد</p>
        {% endfor %}

    </div>

</section>

<!-- پایان پروژه -->

<!-- newsletter section starts -->

<section class="newsletter">

    <form action="">
        <h3>نظرخودرا وارد کنید</h3>
        <input type="email" name="" placeholder="ایمیل خود را وارد کنید" id="" class="box">
        <input type="text" name="" placeholder="نظرخودراوارد کنید" id="" class="box">
        <input type="submit" value="ثبت" class="btn">
    </form>

</section>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">


</section>

<!-- arrivals section ends -->
<div id="TAZETARIN" class="product-section container-fluid no-padding">
    <!-- Container -->
    <div id="product-section">
        <div class="section-header">
            <h3>تازه ترین ها</h3>
            <p>دسترسی سریع به محصولات محبوب</p>
        </div>

        <!-- Filter Buttons -->
        <div class="filters">
            <button class="active" data-filter="*">همه</button>
            <button data-filter=".design">برترین دوره ها</button>
            <button data-filter=".video">برای کودکان</button>
            <button data-filter=".photography">کاربردی ترین دوره ها</button>
            <button data-filter=".photography">تخفیف دارها</button>
        </div>

        <!-- Products Grid -->
        <div class="products-grid">
            <!-- Product 1 -->
            <div class="product design">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>
                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 2 -->
            <div class="product video">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>
                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 3 -->
            <div class="product photography">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 4 -->
            <div class="product design">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 5 -->
            <div class="product video">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 6 -->
            <div class="product photography">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 7 -->
            <div class="product web">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>

            <!-- Product 8 -->
            <div class="product design">
                <img src="{% static 'image/14020331-4.png' %}" alt="">
                <h5>نام دوره : ووردپرس</h5>
                <h5>مدرس : پوریاجان پرور</h5>
                <h5>حضوری</h5>
                <br>
                <p class="price">
                    <del>250.000</del>
                    100.000
                </p>

                <div class="icons">

                    <a href="#"><i class="fa fa-heart-o"></i></a>

                </div>
                <button class="add-to-cart">توضیحات بیشتر</button>
            </div>
        </div>
    </div><!-- Row /- -->

</div><!-- Container /- -->
</div>
<!-- deal section starts  -->

<section class="deal">

    <div class="content">
        <h3>آموزشگاه کامپیوتر و حسابداری تاوریار</h3>
        <h1>مدرک معتبرفنی حرفه ای</h1>
        <p>کلاس هاس آنلاین و حضوری برای شما همراهان عزیز</p>
    </div>

    <div class="image">
        <img src="{% static 'image/softs.png' %}" alt="">
    </div>

</section>

<!-- deal section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"><span>مربیان تاویار</span></h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="{% static 'image/sabapordel.jpg' %}" alt="">
                <h3>صباپردل</h3>
                <p>رشته : علوم کامپیوتر</p>
                <p>مهارت ها: لاراول /اسکرچ / صفحات وب و...</p>

            </div>

            <div class="swiper-slide box">
                <img src="{% static 'image/zb.png' %}" alt="">
                <h3>زهره براتی</h3>
                <p>رشته : مهندسی نرم افزار</p>
                <p>مهارت ها: پایتون / هوش مصنوعی و...</p>
            </div>

            <div class="swiper-slide box">
                <img src="{% static 'image/pic-3.png' %}" alt="">
                <h3>پوریاجان پرور</h3>
                <p>رشته : مهندسی نرم افزار</p>
                <p>مهارت ها: پایتون / هوش مصنوعی و...</p>

            </div>


        </div>

    </div>

</section>

<!-- reviews section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"><span>وبلاگ</span></h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'image/IMG_5817(1).png' %}" alt="">
                </div>
                <div class="content">
                    <h3>درباره مجموعه تاویار</h3>
                    <p>آموزشگاه آزاد فنی حرفه ای </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'image/OIG-15.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>هوش مصنوعی چیست ؟</h3>
                    <p>تمام آنچه که باید بدانید ... </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'image/wordpress111.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>طراحی سایت با ووردپرس</h3>
                    <p>چر ووردپرس بهترین گزینه است .. </p>
                    <a href="blog.html" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{% static 'image/Framework-benefits.jpg' %}" alt="">
                </div>
                <div class="content">
                    <h3>فریم وورک ها </h3>
                    <p>لازمه استفاده از فریم وورک ها</p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}