{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت نام کاربران{% endblock %}


{% block content %}

<!-- home section starts  -->

<section class="home" id="home">

    <!--    <div class="row">-->

    <!--        <div class="content">-->

    <!--              <h3>آموزش به صورت آنلاین و حضوری</h3>-->
    <!--            <h3>    <p>آموزشگاه تاویار در زمینه کامپیوتر و حسابداری خدمت رسان شماست</p></h3>-->


    <!--              <p>ارایه دهنده مدرک فنی حرفه ای</p>-->


    <!--        </div>-->

    <!--        &lt;!&ndash; <div class="swiper books-slider">-->
    <!--            <div class="swiper-wrapper">-->
    <!--                <a href="#" class="swiper-slide"><img src="image/softs.png" alt=""></a>-->

    <!--            </div> &ndash;&gt;-->
    <!--            <img src="{% static 'image/tav.ico' %}" class="stand" alt="">-->
    <!--        </div>-->

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">
  <div class="container right-panel-active">
<div class="koli-safhe-asli">

    <div class="tasvir-section">
        <div class="tasvir-karakter-paygah">
            <img src="{% static 'images/ffd9b46366e14141790a80d4922485bf.gif' %}" alt="کاراکتر نشسته با لپ تاپ" class="karakter-img">
        </div>
    </div>

    <div class="form-section form-sefid">
        <h1 class="onvan-form-fa">ثبت نام حساب کاربری</h1>
        <p class="onvan-zireen">تاوریار توسعه رایمند</p>

        <form action="{% url 'accounts:register' %}" class="shekl-form" method="post">
             {% csrf_token %}

                {% if errors %}
                <ul style="color:red;">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            <label for="email-input" class="form-label">ایمیل*</label>
            <input name="email" type="email" id="email-input" placeholder="ایمیل خود را وارد کنید" class="dastgah-vorudi" required />

            <label for="password-input" class="form-label">گذرواژه*</label>
            <div class="gozargah-vorudi">
                <input name="password1" type="password" id="password-input" placeholder="گذرواژه خود را وارد کنید" class="dastgah-vorudi" required />
                <i class="fas fa-eye-slash nahan-cheshm"></i>
            </div>
<label for="password-input" class="form-label">تایید گذرواژه*</label>
            <div class="gozargah-vorudi">
                <input name="password2" type="password" id="password-input" placeholder="گذرواژه خود را وارد کنید" class="dastgah-vorudi"
                    required />
                <i class="fas fa-eye-slash nahan-cheshm"></i>
            </div>

            <button class="dokme-asli-form">ثبت</button>



        </form>
    </div>
</div>
  </div>


</section>

<!-- icons section ends -->

<!-- featured section starts  -->


<!-- featured section ends -->

<!-- newsletter section starts -->

<!--<section class="newsletter">-->

<!--    <form action="">-->
<!--        <h3>نظرخودرا وارد کنید</h3>-->
<!--        <input type="email" name="" placeholder="ایمیل خود را وارد کنید" id="" class="box">-->
<!--        <input type="text" name="" placeholder="نظرخودراوارد کنید" id="" class="box">-->
<!--        <input type="submit" value="ثبت" class="btn">-->
<!--    </form>-->

<!--</section>-->

<!-- newsletter section ends -->

<!-- arrivals section starts  -->


<!-- arrivals section ends -->

<!-- deal section starts  -->

<!--<section class="deal">-->

<!--    <div class="content">-->
<!--        <h3>آموزشگاه کامپیوتر و حسابداری تاوریار</h3>-->
<!--        <h1>مدرک معتبرفنی حرفه ای</h1>-->
<!--    <p>کلاس هاس آنلاین و حضوری برای شما همراهان عزیز</p>-->
<!--    </div>-->

<!--    <div class="image">-->
<!--        <img src="image/softs.png" alt="">-->
<!--    </div>-->

<!--</section>-->


{% endblock %}